persistent-terminals.log
snn/multimodal-snn/data/*
snn/multimodal-snn/src/data_pipeline_helper_functions/__pycache__/*
snn/multimodal-snn/src/load_labels/__pycache__/*
snn/multimodal-snn/src/model_training/__pycache__/*
snn/multimodal-snn/src/feature_extraction/__pycache__/*
snn/multimodal-snn/src/load_dataset/__pycache__/*

snn/multimodal-snn/models/checkpoints/ 
snn/multimodal-snn/model_state.pth 
Project/backend/model_state.pth 
snn/multimodal-snn/data/embedded_data/embeddings/ 
snn/multimodal-snn/data/features/*.pkl 
snn/multimodal-snn/checkpoints/*
snn/multimodal-snn/checkpoints/best_model.pt
snn/multimodal-snn/best_model.pth

